.Cart_container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: -webkit-linear-gradient(to right,
    #615ac2,
    #2a818d);
background: linear-gradient(to right,
#615ac2, #2a818d);


}
@media only screen and (max-width: 600px){
    .Cart_container{flex-direction: column;}
   
}

.details_box{
    padding-bottom: 20px;
    color:black;
    min-width: 30%;
    padding-top: 75px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    background: -webkit-linear-gradient(to right,
    #615ac2,
    #2a818d);
background: linear-gradient(to right,
#615ac2, #2a818d);
color:white;
}
.Cart_box{
    min-width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background-color: rgb(245, 153, 153);
    padding-bottom: 20px;
}
.cart_item{
    width:70%;
   background-color: white;
   border-bottom: 1px solid rgb(182, 180, 180);
    position: relative;
    padding-left: 8px;
}
.cart_item img{
width:85px;

float:left;
object-fit: contain;
padding: 1px;
margin:4px 4px 0 2px;

}
.cart_item .product_details{
    width: 100%;
    padding: 4px 2px 2px 10px;
    text-align: left;
}
.product_details h3{
    white-space: nowrap;
    margin: 5px 0 5px 0px;
    max-width: 80%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product_details p{
    max-width: 70%;
    height: 60px;
    overflow: hidden;
    font-size: small;
    text-overflow: clip;
    color:rgb(77, 77, 77);
}
 .price_tag{
    text-align: right;
    font-weight: bold;
    font-size: large;
    color:rgb(245, 53, 53);
    padding:0 5px 5px 0;
}
.delete_item{
  float: right;
  margin: 4px 2px 0 2px;
  color: black;
}
.delete_item:hover{
    scale:1.2;
    cursor: pointer;
}
.details_box  .Set_adress_bttn{
    width:7em;
}
.cart_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;
    margin-bottom: 30px;
}
.details_box .Buy_bttn{
    width: 4rem;
    height: 1.5rem;
    border-radius: 8px;
    background-color: rgb(248, 49, 49);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.details_box .Buy_bttn:hover{
    background-color: rgb(187, 0, 0);
}