#card-container{
    background-color: #fafaf7;
    width:auto;
    display: flex;
    flex-wrap: wrap;
}
.card-box{ background-color:white;
    height:300px;
width:200px;
border:1px solid grey;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 20px;
margin-top: 50px;
border-radius: 10px;
position: relative;
z-index: 1;
}
.card-box img{padding: 5px;
    height: 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.title
{  display:-webkit-box;
    margin:5px;
    max-height: 20%;
    
    
    -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;


}

.price{
    position: absolute;
    bottom: 10px;
    left:10px;
    font-weight: bold;
    font-size: large;
}
.rating_value{position: absolute;
    bottom: 10px;
    right:10px;
    
    font-size: large;
    
}
.card-box:hover
{cursor: pointer;
scale: 1.1;
z-index: 1;
}
@media only screen and (max-width: 600px)
{#card-container{
    justify-content: center;
}

}