*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3dcad7;
    color: whitesmoke;
}

.navbar{
    display: flex;
    list-style-type: none;

    
}

li{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover{
    background-color: #2e98a2;
}