*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3dcad7;
    color: whitesmoke;
}

.navbar{
    display: flex;
    align-items: center;
    list-style-type: none;
}

li{
    margin:0 5px;
    height: 200%;
    
    border-radius: 5px;
    cursor: pointer;
    
}

li:hover{
    background-color: #2e98a2;
}
li .link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
}
li .active{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    background-color: #2e98a2;
    border-radius: 5px;
    padding: 5px;
}

.product_search{
    display: flex;
    align-items: center;
    /* margin: 10px; */
    padding: 5px;
    border-bottom: 1px solid whitesmoke;
    border-radius: 5px;
}

.product_search input{
    border: none;
    background: transparent;
    color: whitesmoke;
    outline: none;    
}
.product_search input::placeholder{
    
    color: whitesmoke; 
}


.collapse_container{
    display: none;
    
}
.collapse_list{
    display:none;
    position: absolute;
    right:0px; 
    text-align: left;
    top:100%;
    background-color: #659397;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
    width: 7em;
}
.account_icon_collapse{
    display:none;
}

@media only screen and (max-width: 600px)
{
.navbar>li{display:none;}

.collapse_container{
    display: block;
}

.site_name{
    font-size: 105%;
}
.account_icon_collapse{
    display: block;
    margin-left: 10px;
}
.account_icon_collapse:hover .account_box {display: block;}
.product_search{width: 180px;}
}




.collapse_container:hover .collapse_list{
  display: block;
}
.account_icon{
    position: relative;
}
.account_box{
    display: none;
    text-align: center;
    position:absolute;
    right:10px;
    top:20px;
    width: 280px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;
    z-index:10;
    background-color: aliceblue;
    color:black;
    padding-top: 20px;
    font-size:x-large;
}
.account_icon:hover .account_box {
    display:block;
}